
*{
    box-sizing: border-box;
}
.container{
    width: 500px;
    min-height: 80vh;
    margin: auto;
    border: 1px solid rgb(212, 121, 121);
    margin-top: 50px;
    border-radius: 5px;
}
input{
    line-height: 27px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    
}
form{
    padding: 20px;
    background-color: rgb(223, 192, 20);
}
select{
    line-height: 27px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
textarea{
    line-height: 15px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}
.check{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
input[type="checkbox"]{
    width: unset !important;
    margin-top: 0 !important;
    margin-right: 15px !important;
}
button{
    padding: 10px;
    font-size: 15px;
 
    border: none;
    border-radius: 5px ;
    margin-right: 5px;

    cursor: pointer;

}
.reset{
    background-color: rgb(210, 30, 150) ;
}
.load{
    background-color: rgb(47, 120, 255);
}
.text-center{
    text-align: center;
}
.text-danger{
    color: red;
}